.checkbox {
  margin: 9px;
}

.taskcard {
  margin: 0 auto 20px;
  /* width: 18rem; */
}

.activeTask {
  border: 2px solid #24ca15;
}

.pasiceTask{
  border: 2px solid #434547;
}

.checked {
  border: 2px solid red;
}
